streamlit==1.45.1
streamlit-cropper==0.3.1
openai==1.86.0
Pillow==11.2.1
requests==2.32.4
python-dotenv==1.1.0
pandas==2.3.0
rembg==2.0.66
onnxruntime==1.22.0
google-auth==2.40.3
fal-client==0.7.0
google-cloud-aiplatform==1.96.0
